jupyter-book
sphinx-inline-tabs
git+https://github.com/dbalague/sphinx-grasple
download_link_replacer @ git+https://gitlab.tudelft.nl/mude/sphinx-download-link-replacer@dlr-0.1.1
sphinx-thebe == 0.2.1000
--extra-index-url https://gitlab.tudelft.nl/api/v4/projects/17983/packages/pypi/simple
jupyterbook_patches == 0.1.2
